src/main/resources/run_matlab_command.*
src/main/resources/matlab-script-generator.zip

LICENSE.txt
Atlassian-SDK-README.txt
js
css
target
build
.settings
.project
.classpath
*.iml
*.ipr
*.iws
*.asv
work
.idea
**/.DS_Store