name: build-plugin

on:
  push:
  workflow_dispatch:
jobs:
  check-sdk-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo sh -c 'echo "deb https://packages.atlassian.com/debian/atlassian-sdk-deb/ stable contrib" >> /etc/apt/sources.list'
          curl -fL https://packages.atlassian.com/api/gpg/key/public -o public
          sudo apt-key add public
          sudo apt-get update
          sudo apt-get install atlassian-plugin-sdk=8.2.8
          atlas-version
      - run: atlas-unit-test
